#voterdesign
{
	width:380px;
	min-height: 0px;
	background-image:url('../../assets/images/trii.jpg');
	margin:0 auto;
	border-radius:12px;
	padding-top:18px;
	padding-bottom:24px;
	padding-left:12px;
	padding-right:12px;
    background-size:cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.warn{
    width: 80%;
    padding: 30px;
    font-size: 30px;
    color: maroon;
    text-align: center;
    box-shadow: 1px 1px 20px rgba(40,40,40,.6);
    box-sizing: border-box;
    margin-left:10%;
    border-radius: 10px;
    margin-top: 50px;
}

.details{
    width: 100%;
    margin-top: 20px;
}

.details div{
    width: 100%;
    height : 30px;
}

.details>div>label{
    width:40%;
    text-align: left;
    float: left;
    height : calc(100%);
}

.details>div>p{
    width: 60%;
    text-align: left;
    padding: 0 10px;
    height : calc(100%);
    float: right;
    box-sizing: border-box;
}


#button1 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 9px 19px;
    border: 1px solid #1a1948;
    border-radius: 100px;
    background: #4946c8;
    background: -webkit-linear-gradient(linear, left top, left bottom, from(#4946c8), to(#1a1948));
    background: -moz-linear-gradient(top, #4946c8, #1a1948);
    background: linear-gradient(to bottom, #4946c8, #1a1948);
    -webkit-box-shadow: #5854f0 0px 0px 40px 0px;
    -moz-box-shadow: #5854f0 0px 0px 40px 0px;
    box-shadow: #5854f0 0px 0px 40px 0px;
    text-shadow: #0f0e28 1px 1px 1px;
    font: normal normal bold 17px arial;
    color: #ffffff;
    text-decoration: none;
}
#button1:hover,
#button1:focus {
    border: 1px solid #1d1c50;
    background: #5854f0;
    background: -webkit-linear-gradient(linear, left top, left bottom, from(#5854f0), to(#1f1e56));
    background: -moz-linear-gradient(top, #5854f0, #1f1e56);
    background: linear-gradient(to bottom, #5854f0, #1f1e56);
    color: #ffffff;
    text-decoration: none;
}
#button1:active {
    background: #1a1948;
    background: -webkit-linear-gradient(linear, left top, left bottom, from(#1a1948), to(#1a1948));
    background: -moz-linear-gradient(top, #1a1948, #1a1948);
    background: linear-gradient(to bottom, #1a1948, #1a1948);
}
#button1:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACmklEQVRIia2VMWgUURCGv9lszjOcFzmCxV4UFM0ZBBuxikERsTWFECy00cacZcRCEAtFMCJa7KmkFrETSWWhELEzYGEQUSw0eyKEiCG5XOL6nsXe3r1d30oi/rDs7Lw3M//MzpsngEMW/HoByGeuR2hS9ZayFt3WW9kD6bsIx9EsIaYaEEBTQOQZcNbiRwGOa5ip1tsxZEDOU/WepvSR7AcjwIkMWwdQ2eUx2SYJJGWtsepbcpyBgz/XA3IMKNFJc6BVmmwiwm784JzhdB7Ncy6UGx1Dv74XZAYYRRhEpIJQAYqtDJThwJRBszXaLxWQQeAUwgx+MAAol9pX0GoSuES1/CTBzg/6jJ+rsEF4zZh3sV0JUPj1EdCT3Js77IAqAh4iU60N5oNhmNY7cQSLfgroR0lRqAV9aF5RLVcSLGpBEc0ssADMW9lDH9E/20e1vIjZRX7wHq2HXItRqxTSRDgNuO2+ByxyiKKZQSDuonaaHYx5ITCdZWhBqnSJANpgbjlQ/yab0cw5kHGgNi6bGZjB/i/ss8gP+oEdG/T1mWp5jlQWWV10Zk+ve3l7oct+uFL4svTL+fAjvA5cS69llujkrk1qdOfmntZYjmC2Z/yt4fGnlcaNN+EfPowAukQtGG9rNcOxgxf11eaVmeWcjbk/tCXcX+qO14apBePGXVGKAzRAJqKxa9IFjeaIl8tPeyn/ncOW0+a41mJmOIHohstYuQncTKTnBzngkGhhOVTqW1OFtgy8ni4370hs95Kqdyu9J+tGiyAw+z1cu/O2YfPP1QOFcKDXTZcvcej+MouiEh3c1p1/eLQ3ucOYR3qdN1qSOfDg3Uru0cfmmpV6Cos/dZxFVhclojvA7YVVdX9hdT3u24jrmCjRb39h5vH7bOdvAAAAAElFTkSuQmCC") no-repeat left center transparent;
    background-size: 100% 100%;
}


#link:hover .image{
    opacity:0.56;
}

td{
	font-size:12px;
}
#header {
	background-color:orange;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 1.2in;
}
img {
  border-radius: 50%;
}