<div class="buttons">
    <ul style="margin:auto;">

        <li>
            <div class="container">

                <div class="card" style="width:300px">
                    <img src="assets/images/register.png" alt="Card image" style="width:70%">
                    <div class="card-body">
                        <h4 class="card-title">New User</h4>
                        <p class="card-text">To Register!! Please click on Register Now button </p>
                        <a routerLink='registration' class="btn btn-primary">Register Now</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="container">

                <div class="card" style="width:300px">
                    <img src="assets/images/downloadq.png" alt="Card image" style="width:70%">
                    <div class="card-body">
                        <h4 class="card-title">Download</h4>
                        <p class="card-text">Click on Download Card!! To dowanload the voter card</p>
                        <a routerLink='login' class="btn btn-primary">Download Card</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>